h1 {
    font-family: 'Courier';
    font-size: 200%;
    text-align: center;
}

h2, h3 {
    font-family: 'Courier';
    font-size: 125%;
    color: #0F1F99;
}

body {
    color: #0F1F99;
    background-color: #b3c7f7;

}

p {
    line-height: 1.75;
}

img {
    border-width: 5px;
    border-color: #d9e4ff;
    border-top-right-radius: 30px;
    padding: 10px;
    margin: 20px
}

li {
    display: inline-block;
    margin-left: 50px;
}